body {
    height: 100vh;
}
.gen:hover{
    color: black;
}
.gen {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 900;
    color: black;
    text-decoration: none;
}
.content-central {
    height: 79vh;
    overflow-y: scroll;
}
.content-central::-webkit-scrollbar {
    padding-right: 5px;
    width: 8px;
    background-color: white;
  }
.content-central::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 100px;
    background-color: rgb(0,0,0, 0.2);
}
  
.content-central::-webkit-scrollbar-track {
    background-color: white;
}
.contentnomad {
    height: 700px;
    overflow-y: scroll;
}
.contentnomad::-webkit-scrollbar {
    padding-right: 5px;
    width: 8px;
    background-color: rgb(73, 72, 72);
  }
.contentnomad::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 100px;
    background-color: rgb(255, 255, 255, 0.2);
}
  
.contentnomad::-webkit-scrollbar-track {
    background-color: rgb(73, 72, 72);
 }
.img-content {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background-color: hotpink;
    object-fit: cover;
}
h {
    font-weight: bold;
}
.imgCon {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    background-color: hotpink;
    object-fit: cover;
}
.imgnomad {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: hotpink;
    object-fit: cover;
}
.img-profil {
    object-fit: cover;
    
}
.green {
    margin-left:-54px ;
    margin-top: 8px ;
    padding: 0%;
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background-color: lawngreen;
}
.nomad {
    font-size: 20px;
    font-style: bold;
    color: #ffffff;
    text-decoration: none;
     
    
}
.nomad:hover{
    color: white;
    background-color: grey;
    border-radius: 5px;
    

}
.channels {
    text-decoration: none;
    color:#B5B5B5;
    margin-left: 10px;
    margin-top: 7px;
}
.friend {
    text-decoration: none;
    color:#B5B5B5;
    /* margin-left: 10px; */
}
.friend:hover{
    color: white;
}
.channels:hover {
    color:white;
    background-color: grey;
    border-radius: 5px;
}
.hidnomad {
    margin: auto;
    height: 650px;
    /* overflow-y: scroll; */
    background-color: rgb(73, 72, 72);
    width: 190px;
    border-radius: 25px;
}
/* .hidnomad::-webkit-scrollbar {
    padding-right: 5px;
    width: 8px;
    background-color: rgb(73, 72, 72);
  }
.hitnomad::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 100px;
    background-color: rgb(73, 72, 72);
} */
  
.nidnomad::-webkit-scrollbar-track {
    background-color: rgb(73, 72, 72);
 }
 .channelshid {
    text-decoration: none;
    color:#B5B5B5;
    margin-left: 10px;
    margin-top: 7px;
    font-size: 12px;
}
.channelshid:hover {
    color:white;
    background-color: grey;
    border-radius: 5px;
}